@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');
/* font-family: 'Space Grotesk', sans-serif; */

.navbar {
    position: fixed;    
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255);    
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    z-index: 20;
    filter: drop-shadow(0px 0px 3px #3a3a3a);
}

.logotext{
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 200px;
    text-decoration: dashed;
    font-size: 17px;
    background:black;
    color: white;
    font-family: 'Space Grotesk', sans-serif;    
    font-weight: 500;
    letter-spacing: 2px ;


}
a:link, a:visited {
    color: black; /* Sets the color of the link to black */
    text-decoration: none; /* Optional: Removes the underline from the link */
}

a:hover, a:active {
    color: black; /* Keeps the color black even when hovered or active */
}

.navcontainer
{
    display: flex;
    padding-right: 50px;
    width: 100%;
    padding-left: 50px;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    height: 40px;
}

.burger-menu {
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 40px;
}


.overlay {
    position: fixed;
    top: 0;
    right: -100%; /* Start off-screen to the right */
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 1.9s ease-in; /* Smooth transition for the 'right' property */
    z-index: 1001;

}

/* When the overlay is active, it should slide in from the right */
.overlay.active {
    right: 0;
}

.overlay-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: stretch;
    width: auto;
    height: 100%;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 30px;
    text-align: left;
}

.menu-item{
    padding: 10px;
    cursor: pointer;
}
.menu-item:hover{
    background-color: yellow;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: black;
    cursor: pointer;
}

.chart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;

}

.active-menu-item {
    background-color: yellow;
}